h1{
    color: red;
}
body{
    background-color: #EBEBEB;
}
.icon{
    max-width: 100%;
}
.icon{
    max-width: 66px;
}
p{
    font-size: 1.8rem;
}

.container-fuid{
    display: flex;
    flex-direction: row;
    justify-content: center;
     flex-wrap: wrap;
     margin-top: 25px;
}

@media only screen and (max-width: 799px){
    div.col-lg-6{
    padding-right: 0px; 
     padding-left: 0px;
}
.icon{
    max-width: 45px;
}
     iframe{
         position: relative;
        display: block;
        width: 100%;
        padding-right: 15px; 
        padding-left: 15px;
    }
    p{
        font-size: 1.2rem;
    }
    div .row .ml-4 .content{
        margin-left: 0!important;
    }
}