h1{
    color: red;
}

body{
    background-color: #EBEBEB;
}

.icon{
    max-width: 66px;
}
p{
    font-size: 1.8rem;
}
.rightCol{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.leftCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td{
   padding:20px;
}

@media only screen and (max-width: 799px){
div.col-lg-6{
    padding-right: 0px; 
     padding-left: 0px;
}
div.row.ml-4 .content{
    margin: 0!important;
}
.icon{
    max-width: 45px;
}
iframe{
    position: relative;
    display: block;
    width: 100%;
    padding-right: 0px; 
    padding-left: 0px;
}
p{
    font-size: 1.2rem;
}

}